<%- include("partials/header.ejs") %>

<div class="box">
    <%let today = new Date().toISOString().slice(0, 10) %>
    <h3> <%= today %></h3>
</div>

<form action="/submit" method="POST">
  
                <h1>Tasks to be Completed</h1>
            <% for(var i=0; i<locals.task.length;i++){ %>
              <input type="checkbox" name="check" value="<%= locals.task[i] %>" /> <%= task[i] %> 
              <br>
            <%  }%>
          
    </table>
    <h1>add Tasks</h1>
    <input type="text" name="work">
    <button type="submit" name="list" value="add work">+</button>
</form>
<%- include("partials/footer.ejs") %>
